<h1>New Classroom</h1>


<% if current_user and current_user.has_role? :admin %>
 <%= render 'form', classroom: @classroom %>
<% else %>
 <div class="errorcustom"> ERROR: Solo los administradores tienen el poder para hacer esto :( </div>

<% end %>

<%= link_to 'Back', classrooms_path %>
