

<div class="container">
  <!-- Header -->
  <img class="imgespecial" src="https://i.imgur.com/ZhIoQs3.jpg" alt="">

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow" onclick="window.location.href= '/campuses'; ">
          <img src="https://i.imgur.com/EpAqL6s.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Ver todos los campus</h5>
            <div class="card-text text-black-50">Revisa los lugares donde BuscaSalas opera</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow" onclick="window.location.href= '/courses'; ">
          <img src="https://i.imgur.com/L7HW9fd.png0" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Ver todos los cursos</h5>
            <div class="card-text text-black-50">Revisa los cursos para los que puedes estudiar</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4" onclick="window.location.href= '/pages/schedule?campus_id=1&day=<%= @day %>'; ">
        <div class="card border-0 shadow">
          <img src="https://i.imgur.com/8Rf3DTm.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Ver disponibilidad de salas</h5>
            <div class="card-text text-black-50">Encuentra aquella sala perfecta para tu grupo de estudio o tu evento académico</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow" onclick="window.location.href= '/posts'; ">
          <img src="https://i.imgur.com/vOycNuz.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Ver todas las publicaciones</h5>
            <div class="card-text text-black-50">Revisa el conocimiento que otros como tú han aportado a la comunidad</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
