<% day = 1  %>

<% connected = current_user %>
<% if connected %><% isadmin = (current_user.has_role? :admin) %><% end %>

<% if !(connected) %>
  <div class="errorcustom"> ERROR: Debes estar conectado a tu cuenta ver los eventos disponibles </div>
<% elsif !(Suscription.exists?(:user_id => current_user.id, :course_id => params[:course])) %>
  <div class="errorcustom"> ERROR: Debes estar registrado en el curso para ver los eventos disponibles </div>
<% else %>

<head>
    <title>Vertex - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/animate.css">

    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/magnific-popup.css">

    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/aos.css">

    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/ionicons.min.css">

    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/jquery.timepicker.css">


    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/flaticon.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/icomoon.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/yoga/css/style.css">
  <style type="text/css">.scrollax-performance, .scrollax-performance *, .scrollax-performance *:before, .scrollax-performance *:after { pointer-events: none !important; -webkit-animation-play-state: paused !important; animation-play-state: paused !important; };</style><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/36/12/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/36/12/util.js"></script>
</head>

<body>
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
              <h2>Eventos del dia <%= Date.strptime("December 31, 2018", "%B %d, %Y") + day %></h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-5">

              <!-- por cada sala -->
              <% Classroom.where(campus_id: Course.find(params[:course]).campus_id).find_each do |classroom| %>
                <div class="text-center mb-5 ftco-animate fadeInUp ftco-animated">
                  <h3 class="class-day px-5 py-2">Monday</h3>
                </div>

              <!-- por cada evento de la sala -->
              <% Event.where(classroom_id: classroom.id).find_each do |event| %>
                <div class="classes-wrap d-flex pb-4 mb-4 ftco-animate fadeInUp ftco-animated">
                  <div class="one-half d-md-flex">
                    <div>
                      <span class="time">7:00am - 8:00am</span>
                    </div>
                    <div class="px-md-5">
                      <h3>Basic Exercise</h3>
                      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    </div>
                  </div>
                  <div class="one-forth">
                    <div class="button-degree button-degree-light text-right">
                      <span><a href="#" class="btn px-5 py-4">Join now</a></span>
                    </div>
                  </div>
                </div>


            </div>
          </div>
  </body>

<%end%>
