<h1>Editing Post</h1>


<% @courseid = @post.course_id %>
<% @coursename = Course.find(@post.course_id).name %>
<% @isnewcpost = false %>

<%= render 'form', post: @post %>

<%= link_to 'Información del curso', @post %> |
<%= link_to 'Volver a lista cursos', courses_path %>
