<!-- Footer -->
<footer class="page-footer font-small blue sticky-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    Grupo 22 - Chavez - Quezada - Rivera
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
